<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <center>  <title>Gym Management System</title></center>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="/style_nav.css">
  <link rel="stylesheet" type="text/css" href="/input_btns.css">
  <link rel="stylesheet" type="text/css" href="/forms.css">
</head>
<body>
 <nav>

      <ul id="nav">
        <li>
          <a href="/members">Members</a>
        </li>
        <li>
          <a href="/activities">classes</a>
        </li>
        <li>
          <a href="/bookings">Bookings</a>
        </li>
      </ul>
  </nav>

  <footer>
    <div class="footer">
      Gym Management: <%= Date.today.year %> David Fulton.
    </div>
  </footer>

  <%= yield %>

</body>
</html>
