body {
    font-family: Arial;
    font-size: 14px;

}

form {
    width: 290px;
    padding: 15px 300px 15px 300px;
    border: 1px solid #ccc;

}

label {
    display: block;
}

input, select {
    display: block;
    width: 250px;
    padding: 4px;
    border: 1px solid #aaa;
    margin-bottom: 1em; /*For vertical spacing*/
    /*box sizing properties*/
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
