body {
  font-family: Arial;
  font-size: 14px;


}

form {
  width: 90%;
  /* float: center; */
  margin: 5%;

}

label {
  display: block;

}

input {
  /* margin: auto; */
  width: 80%;
  padding: 4px;
  border: 1px solid #aaa;
  display: block;

}
select{
  display:block;
  /* margin-bottom: 3em; /*For vertical spacing*/ */
}
