body {
    font-family: Arial;
    font-size: 14px;


}

form {
    width: 50%;
    float: center;
    margin: auto;

}

label {
    display: block;
    
}

input, select {
    display: block;
    width: 250px;
    padding: 4px;
    border: 1px solid #aaa;
    margin-bottom: 1em; /*For vertical spacing*/

}
