input[type=text], select {

    padding: 18px 8px ;
    margin: 18px 0;
    display: inline-block;
    border: 2px solid #a09c9c;
    align-items: flex-start;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn{
  padding: 18px 8px ;
  margin: 18px 0;
  display: inline-block;
  border: 2px solid #a09c9c;
  align-items: flex-start;
  border-radius: 10px;
  box-sizing: border-box;
}

  input[type=submit] {
    color: white;
      padding: 10px 10px 5px 5px;
      width: 160px;
      /* margin: 0px; */
      border-radius: 10px;
      cursor: pointer;
      background-color: #d25850;
      position: relative;
       bottom: 0;
       text-align: center;
       font-size: 16px;
       font-family: sans-serif;
   }

input[type=submit]:hover {
    background-color: #ffc107;

}
