
nav {
  background: forestgreen;
  overflow: auto;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 4px 250px;
}
nav ul{
  list-style: none;
}
nav li {
  float: left;
  padding: 2px 20px;
}
nav a li:hover {
  background: blue;
}
nav a  {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family:  sans-serif;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
}
table.alt tr:nth-child(even) {
  background-color: #eee;
}
table.alt tr:nth-child(odd) {
  background-color: #fff;
}


footer{
  bottom: 0;
  position: fixed;
  width: 100%;
 text-align:center;
}

.footer {
  background: grey;
  height: 20px;
  margin: auto;
  width: 100%
  padding:5px;
  color:#ffffff;

}
