input[type=text], select {

    padding: 18px 8px ;
    margin: 18px 0;
    display: inline-block;
    border: 2px solid #ccc;
    align-items: flex-start;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {

    color: white;
    padding: 16px 38px;
    margin: 65px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #b91306;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    font-family:  sans-serif;
}

input[type=submit]:hover {
    background-color: #ffc107;

}

div {
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 15px;
}
