
nav {
background: forestgreen;
overflow: auto;
color: white;
display: flex;
flex-direction: row;
}
nav ul{
  list-style: none;
}
nav li {
float: left;
padding: 10px;
}
nav a li:hover {
background: blue;
}
nav a  {
  color: white;
}
