/* *{
margin: 0 auto;
} */
body{
  font-family: 'Ubuntu';font-size: 18px;
}
h1, h2, h3{
  font-size: 20px;
  font-family: 'Ubuntu';
  font-weight: bold;
  text-align: center;
}
nav {
  background: forestgreen;
  overflow: auto;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5px 300px 5px 75px;
}
nav ul{
  list-style: none;

}
nav li {
  float: left;
  padding: 5px 73px 15px 30px;
}

nav a  {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family:  sans-serif;
  background-color: #ffc107;

  font-weight: normal;


}
a:link, a:visited {
  background-color:  #006646;
  color: white;
  padding: 12px  25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  width: 50%;
}


table {
  border-collapse: collapse;
  max-width: 90%;
  min-width: 60%;
  
}
th, td, tr {
  border: 1px solid #ccc;
  padding: 15px;

}
table.alt tr:nth-child(even) {
  background-color: #eee;
}
table.alt tr:nth-child(odd) {
  background-color: #fff;
}


footer{
  bottom: 0;
  overflow: auto;
  position: fixed;
  width: 100%;
  text-align:center;
}

.footer {
  background: grey;
  height: 18px;
  margin: auto;
  overflow: auto;
  padding:5px;
  color:#ffffff;

}
