<h2>Bookings</h2>

<a href="/bookings/new">Create Booking</a>
<br>

<% for book in @bookings %>

  <p><%= book.activity.session %><br>  <%= book.member.last_name %> </p>

<% end %>

<form method="post" action="/bookings/<%= book.id %>/delete">
 <input type="submit" value="Delete"/>
</form>
